.wrapper {
	display: grid;
	grid: auto / 0.5fr 1fr;
	margin: 100px 50px;

	.image_container {
		display: flex;
		justify-content: center;
		.image {
			max-height: 600px;
		}
	}
	.information_container {
		padding: 0 50px;
		max-width: 1000px;
		.title {
			margin-top: 24px;
			line-height: 1.1;
		}
		.categories,
		.authors {
			font-size: 16px;
			color: #d4d4d4;
		}
		.authors {
			margin-top: 20px;
		}
		.description {
			margin-top: 16px;
			font-size: 18px;
			line-height: 1.2;
		}
	}
}
